*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

html, body {
    height: 100%;
}

nav {
    padding: 26px 30px;
    display: flex;
} 

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

#nav-leftside {
    display: flex;
    align-items:center
}

#nav-rightside {
    display: flex;
    align-items: center;
    column-gap: 0;
    text-align: center;
}

#nav-rightside li {
    padding: 10px 14px;
    margin-left: 16px;
}

#nav-rightside li:hover {
    outline: 2px solid black;
    border-radius: 14px;
}



nav li {
    margin-left: 34px;
}

nav li:hover {
    cursor: pointer;
}



#logo {
    font-weight: bold;
    margin-right: 32px;
    margin-left: 0;
    font-size: 34px;
    padding: 0;
    
}


.hover-menu {
    position: absolute;
    padding-left: 5px;
    padding-top: 24px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding-right: 5px; 
    display: none;
}


.hoverToggleLink {
    display: block;
}

.hover-menu li {
    margin-bottom: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.hover-menu li:last-child {
    margin-bottom: 0;
}

.hover-menu img {
    margin-right: 30px;
    vertical-align: top;  
}

.hover-menu:first-of-type {
    left: 95px;
    top: 75px;

}

.hover-menu:last-of-type {
    left: 280px;
    top: 80px;
    padding-right: 24px;
}

.hover-menu span {
    width: 100px;
}

.hover-link:hover {
    cursor: pointer;
}

.hover-link img {
    margin-left: 8px;
    vertical-align: center;
}


.container {
    font-family: "Epilogue", sans-serif;
}



/* Element types styling */


body {
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: "Epilogue", sans-serif;  
}

button {
    width: 124px;
    height: 42px;
    background-color: black;
    color: white;
    border-radius: 9.1px;
    letter-spacing: 0.5px;
}   

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

h1 {
    font-size: 74px;
    line-height: 3.9rem;
}

p {
    color: hsl(0, 0%, 8%);
    font-size: 18px;
    line-height: 1.8rem;
    font-weight: 500;
}



.content-info > p {
    margin-bottom: -30px;
}
/* Content section */



.container {
    min-width: 1440px;
}


.content-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    column-gap: 110px;
}

.content-section {
    height: 560px;
    width: 430px;
}

.content-left {
    width: 600px;
    padding-top: 110px;
    padding-left: 65px;
    padding-right: 100px;
}

.content-info {
    display: flex;
    flex-direction: column;  
    row-gap: 80px;
    height: 100%;  
}

.content-info button {
  font-size: 14.6px;
}

.backed-by {
    height: 16px;
}

.content-left header {
    margin-bottom: 50px;
    width: 900px;
}

.content-left header span {
    display: block;
    margin-bottom: 5px;
}

.content-right img {
    width: 100%;
    height: 100%;
}

.backed-by {
   gap: 0;
}

.backed-by > ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 58px;
    row-gap: 0;
    height: 100%;
}

.backed-by img {
    height: 24px; 
    width: 60.2px;
}